/* notWork */
main {
    background-color: hsla(240, 17%, 15%, 1);;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* 이전 코드 */
/* .notWork-grid{
	overflow: hidden;
    display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	-webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
	background-color: hsla(240, 17%, 15%, 1);
	padding: 4vw 4vw 0 4vw;
}
.grid-row{
	padding: 0 .5em;
} */

/* 버튼 */
.img-loading{
    background-image: url('/img/img_loading.png');
    width: 64px;
    height: 64px;
    z-index: 100;
    transform-origin: center;
    background-size: cover;
}
.btn-loading{
    position: absolute;
    bottom: 4vw;
    left: 50%;
    z-index: 100;
    transform: translate(-50%, 0);
}
/* 사진 세부 페이지 버튼들 */
.btn-details{
	position: absolute;
	width: 64px;
	height: 64px;
    bottom: 4vw;
    background-color: hsla(240, 10%, 32%, 0.5);
    border: 1px solid hsla(240, 8%, 53%, 0.5);
    box-shadow: 0 0 10px 5px rgb(0, 0, 0, 0.2);
    -webkit-backdrop-filter:blur(10px);
    backdrop-filter:blur(10px);
    border-radius: 32px;
	z-index: 100;
	cursor: pointer;
    padding: 0;
    transition: .3s;
}
.btn-details:hover{
    transition: .3s;
    transform:scale(108%);
    border-radius: 34px;
    transform-origin: center;
}
.btn-details.cancel{
	right: 4vw;
}
.btn-details.left{
    left: 35%;
}
.btn-details.right{
    right: 35%;
}

.btn-details.cancel span{
    position: absolute;
    left: 20%;
    width: 60%;
    height: 3px;
    background: #D6D6E3;
    pointer-events: none;
    transform: rotate(-45deg);
}
.btn-details.cancel::before{
    content: '';
    position: absolute;
    left: 20%;
    width: 60%;
    height: 3px;
    background: #D6D6E3;
    pointer-events: none;
    transform: rotate(45deg);
}

.btn-details.left span{
    position: absolute;
    left: 30%;
    top: 51%;
    width: 35%;
    height: 3px;
    background: #D6D6E3;
    pointer-events: none;
    transform: rotate(-45deg);
    transform-origin: left;
}
.btn-details.left::before{
    content: '';
    position: absolute;
    left: 30%;
    top: 49%;
    width: 35%;
    height: 3px;
    background: #D6D6E3;
    pointer-events: none;
    transform: rotate(45deg);
    transform-origin: left;
}

.btn-details.right span{
    position: absolute;
    left: 65%;
    top: 51%;
    width: 35%;
    height: 3px;
    background: #D6D6E3;
    pointer-events: none;
    transform: rotate(-135deg);
    transform-origin: left;
}
.btn-details.right::before{
    content: '';
    position: absolute;
    left: 65%;
    top: 49%;
    width: 35%;
    height: 3px;
    background: #D6D6E3;
    pointer-events: none;
    transform: rotate(135deg);
    transform-origin: left;

}

 /* 이미지 크게 보기 */
#fullImage{
	display: none;
	transition: .3s;
    overflow: hidden;
 }
.wide-img-page{
    position: absolute;
    top: 0;
	z-index: 20;
	width: 100%;
	height: 100%;
}
.img-bg{
	width: 100%;	
	height: 100%;
	background-color: black;
	opacity: .6;
}
.imageBox {
    margin: auto;
    display: flex;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 20;
    padding-top: 3%;
    justify-content: center;
  }

/* .notWork-txt{
    position: absolute;
    display: flex;
    flex-direction: column;
    margin: auto 1.5em 1.5em;
    bottom: 0;
    text-shadow: #49495A;
} */
.notWork-txt {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: absolute;
    text-shadow: 0 1px 10px #49495A;
    bottom: 20%;
  }
  

.notWork-title{
    display: flex;
    flex-direction: row;
    gap: 16px;
    margin: auto 0 0;
    align-items: end;
}
.notWork-title div{
    line-height: 100%;
}
/* main background image */
.notWork-center{
    position: fixed;
    margin: 0px auto;
    z-index: -1;
    background-size: cover;
    background-position: center;
    vertical-align: middle;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.notWork-center img{
    background-size: cover;
    background-position: center;
    vertical-align: middle;
    background-size: cover;
    height: 60%;
    width: 100%;
    object-fit: cover;
}
.notWork-btns{
    display: flex;
    width: 100%;
    flex: 0 0 auto;
    flex-direction: row;
    position: absolute;
    padding: 1em;
    top: 50%;
    z-index: 1;
}
.bg-trans{
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 7%;
    background: hsla(240, 17%, 15%, 1);
    opacity: 0;
}
.full-page{
	height: 60vh;
	display: flex;
	flex-direction: column;
}
.gradient{
    width: 100%;
    position: relative;
    left: 0;
    top: 0;
    right: 0;
    bottom: auto;
    height: 200px;
    background: linear-gradient(180deg, transparent,  hsla(240, 17%, 15%, 1) );
}

/* 버튼 스타일 */
.category-btn {
    font-family: 'pretendard';
    font-weight: 300;
    font-size: 26px;
    text-align: left;
    padding: .4em;
    border: none;
    color: #fff;
    cursor: pointer;
    outline: none;
    transition: .3s;
  }
  
.category-btn.active {
    font-weight: 600;
    text-decoration-line: underline;
}
.category-btn:hover{
    transform: translate(0, -5%);
    transition: .5s;
    border-bottom: 1px, solid, #fff;
    text-shadow: 0 0 10px #49495A;
}

.margin{
    margin: 4vw;
}
.nav-area{
    z-index: -1;
    position: relative;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;    
    width: 100%;
    height: 100%;
    padding:48px 4vw;
    flex-direction: column;
    -webkit-box-pack: justify;
}

/* 그리드 */
.notWork-grid{
	overflow: hidden;
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, 1fr));	-webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
	background-color: hsla(240, 17%, 15%, 1);
	padding: 0 4vw;
}
.grid-row{
	padding: 0 .5em;
}
.item-notWork img{ 
	margin: .5em;
	background-position: center;
	width: 100%;
	height: auto;
	cursor: pointer;
    transition: all .3s;
 }
.item-notWork img:hover{
	filter: brightness(.7);
	transition: .3s;
 }
#fullImage{
	display: none;
	transition: .3s;
 }
.wide-img-page{
	position: fixed;
	z-index: 20;
	width: 100%;
	height: 100%;
}

@media (min-width: 400px) and (max-width: 834px){
    .image-list {
      grid-template-columns: repeat(2, 1fr);
    }
    .btn-cancel{
      width: 48px;
      height: 48px;
  }
    .category-btn {
        font-size: 22px;
    }
  }

@media (max-width: 400px) {
    .category-btn {
        font-size: 16px;
    }
}

@media (max-width: 834px){
    .btn-details{
        width: 48px;
        height: 48px;
    }
    .img-loading{
        width: 48px;
        height: 48px;
    }
}
  
@media (min-width: 834px) {
    .image-list {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
}
