
/* Grid */

.container-main{
	display: grid;
	width: 100vw;
	grid-template-rows: repeat(auto-fill,minmax(100px, auto));
	place-items: start stretch;
	grid-template-areas: 
	'main'
	'list1'
	'footer';
	background: none;
}

/* grid 순서 */
.item:nth-child(1) { 
	grid-area: main;
}
.item:nth-child(2) { 
	grid-area: list1; 
}
.item:nth-child(3) { 
	grid-area: footer; 
}

.center{
	position:absolute;
	left: 50%;
	transform: translate(-50%, -100%);
	text-align: center;
	white-space:nowrap;
}

/* 요소 디자인 */
.btn-cv{
    width: 161px;
    height: 48px;
    border: none;
    background: #49495A;
    cursor: pointer;
}
.btn-cv:hover{
    transition: .3s;
    transform:scale(108%);
    transform-origin: center;
	background-color: #393948;
}


.persona{
	width: 300px;
	height: 448px;
	position: absolute;
	transition: .3s;
	transform-origin: center;
	background-size: cover;
	z-index: 0;
}

.persona:nth-child(1){
	right: 8%;
	bottom: 20%;
	background-image: url('/img/img_persona_1.webp');
}
.persona:nth-child(2){
	left: -6%;
	top: -8%;
	background-image: url('/img/img_persona_2.webp');
}
.persona:nth-child(3){
	left: 4%;
	bottom: -10%;
	background-image: url('/img/img_persona_3.webp');
}
	
/* .persona:nth-child(3){
	z-index: 2;
	right: 30%;
	top: 22%;
	transform: translate(-30%, -30%);
} */
/* .persona:nth-child(4){
	right: 20%;
	bottom: 40%;
	transform: translate(-20%, -40%);
} */