
/* Grid */

.container-main{
	display: grid;
	width: 100vw;
	grid-template-rows: repeat(auto-fill,minmax(100px, auto));
	place-items: start stretch;
	grid-template-areas: 
	'main'
	'list1'
	'footer';
	background: none;
}

/* grid 순서 */
.item:nth-child(1) { 
	grid-area: main;
}
.item:nth-child(2) { 
	grid-area: list1; 
}
.item:nth-child(3) { 
	grid-area: footer; 
}

.center{
	position:absolute;
	left: 50%;
	transform: translate(-50%, -100%);
	text-align: center;
	white-space:nowrap;
}

/* 요소 디자인 */
.btn-cv{
	position:absolute;
    right: 28vw;
    top: 32vh;
	height: 52px;
	width: 192px;
	border: none;
    background: #A68953;
	rotate: -8deg;
    cursor: pointer;
	transition: .3s;
}
.btn-cv:hover{
    transition: .3s;
    transform:scale(105%);
    transform-origin: center;
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.10) 0%, rgba(0, 0, 0, 0.10) 100%), var(--main, #A68953);
}

@media (max-width: 700px) {
    .btn-cv{
		height: 55px;
		width: 212px;
    }
}

.persona{
	width: 300px;
	height: 448px;
	position: absolute;
	transition: .3s;
	transform-origin: center;
	background-size: cover;
	z-index: 0;
}

.persona:nth-child(1){
	right: 8%;
	bottom: 20%;
	background-image: url('/img/img_persona_1.webp');
}
.persona:nth-child(2){
	left: -6%;
	top: -8%;
	background-image: url('/img/img_persona_2.webp');
}
.persona:nth-child(3){
	left: 4%;
	bottom: -10%;
	background-image: url('/img/img_persona_3.webp');
}

.hover-area {
    position: relative;
    width: 100%;
    height: 100%;
}

.bodymovinanim {
	position: absolute;
	z-index: -1;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	margin-left: auto;
	margin-right: auto;
	mix-blend-mode :screen;
  }