
/* Grid */
/* index */

.container-main{
	display: grid;
	width: 100vw;
	grid-template-rows: repeat(auto-fill,minmax(100px, auto));
	place-items: start stretch;
	grid-template-areas: 
	'main'
	'list1'
	'footer';
}

/* grid 순서 */
.item:nth-child(1) { 
	grid-area: main;
}
.item:nth-child(2) { 
	grid-area: list1; 
}
.item:nth-child(3) { 
	grid-area: footer; 
}

.center{
	position:absolute;
	left: 50%;
	transform: translate(-50%, -100%);
	text-align: center;
	white-space:nowrap;
}
