
/* Grid */
.container-main{
	display: grid;
    width: 100vw;
	grid-template-columns: 90% 10%;
    grid-template-rows: repeat(auto-fill,minmax(100px, auto));
    place-items: start stretch;

    grid-template-areas: 
    'main r'
    'list1 list1'
	'footer footer';
}

/* grid 순서 */
.item:nth-child(1) { 
    grid-area: main;
 }
.item:nth-child(2) { 
    grid-area: r; 
}
.item:nth-child(3) { 
    grid-area: list1; 
}
.item:nth-child(4) { 
    grid-area: footer; 
}
.center{
	position:absolute;
	left: 50%;
	transform: translate(-50%, -100%);
	text-align: center;
	white-space:nowrap;
}

/* aboutMe */
.container-aboutMe{
	display: grid;
 	grid-template-rows: repeat(auto-fill,minmax(100px, auto));
  	place-items: start stretch;
	z-index: 1;
   	grid-template-areas: 
  	'aboutMe'
   	'skill'
	'experience';
	margin: 4vw;
	overflow: hidden;
}
.item-aboutMe:nth-child(1){
	grid-area: aboutMe;
	margin: 0 10vw;
	align-items: center;
	padding: 10% 0;
}
.item-aboutMe:nth-child(2){
	grid-area: skill;
}
.item-aboutMe:nth-child(3){
	grid-area: experience;
}
