/* notWork */
main {
    background-color: hsla(240, 17%, 15%, 1);;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


@media (min-width: 390px) {
  .image-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 800px) {
  .image-list {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}
  
/* 이전 코드 */
/* .notWork-grid{
	overflow: hidden;
    display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	-webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
	background-color: hsla(240, 17%, 15%, 1);
	padding: 4vw 4vw 0 4vw;
}
.grid-row{
	padding: 0 .5em;
} */

.btn-cancel{
	position: absolute;
	bottom: 4vw;
	right: 4vw;
	width: 64px;
	height: 64px;
    background-color: hsla(240, 10%, 32%, 0.5);
    border: 1px solid hsla(240, 8%, 53%, 0.5);
    -webkit-backdrop-filter:blur(10px);
    backdrop-filter:blur(10px);
    border-radius: 32px;
	z-index: 100;
	cursor: pointer;
    padding: 0;
}
.btn-cancel:hover{
    transition: .3s;
    transform:scale(108%);
    border-radius: 34px;
    transform-origin: center;
}
.btn-cancel span{
    position: absolute;
    left: 20%;
    width: 60%;
    height: 3px;
    background: #D6D6E3;
    pointer-events: none;
    transform: rotate(-45deg);
}
.btn-cancel::before{
    content: '';
    position: absolute;
    left: 20%;
    width: 60%;
    height: 3px;
    background: #D6D6E3;
    pointer-events: none;
    transform: rotate(45deg);
}

 /* 이미지 크게 보기 */
#fullImage{
	display: none;
	transition: .3s;
    overflow: hidden;
 }
.wide-img-page{
    position: absolute;
    top: 0;
	z-index: 20;
	width: 100%;
	height: 100%;
}
.img-bg{
	width: 100%;	
	height: 100%;
	background-color: black;
	opacity: .6;
}
.imageBox {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 4em 4em 4em; /* 상하좌우 여백을 4em으로 설정 */
    z-index: 20;
  }

@media(max-width:400px){
	.btn-cancel{
		width: 40px;
		height: 40px;
	}
}

.notWork-txt{
    position: absolute;
    display: flex;
    flex-direction: column;
    margin: auto 1.5em 1.5em;
    bottom: 4em;
    text-shadow: #49495A;
}
.notWork-title{
    display: flex;
    flex-direction: row;
    gap: 16px;
    margin: auto 0 0;
    align-items: center;
}

/* main background image */
.notWork-center{
    position: fixed;
    margin: 0px auto;
    z-index: -1;
    background-size: cover;
    background-position: center;
    vertical-align: middle;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.notWork-center img{
    background-size: cover;
    background-position: center;
    vertical-align: middle;
    background-size: cover;
    height: 60%;
    width: 100%;
    object-fit: cover;
}
.notWork-btns{
    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
    position: absolute;
    padding: 1em;
    top: 50%;
    margin: 0 2vw;
    /* left: 50%; */
    /* transform: translate(-50%,-50%); */
    padding: 14px;
    z-index: 1;
}
.full-page{
	height: 60vh;
	display: flex;
	flex-direction: column;
}
.gradient{
    width: 100%;
    position: relative;
    left: 0;
    top: 0;
    right: 0;
    bottom: auto;
    height: 200px;
    background: linear-gradient(180deg, transparent,  hsla(240, 17%, 15%, 1) );
}

/* 버튼 스타일 */
.category-btn {
    font-family: 'pretendard';
    font-weight: 300;
    font-size: 28px;
    text-align: left;
    padding: .4em;
    border: none;
    color: #fff;
    cursor: pointer;
    outline: none;
  }
  
.category-btn.active {
font-weight: 600;
text-decoration-line: underline;
}

.category-btn:hover{
    transform: translate(0, -5%);
    transition: .5s;
    border-bottom: 1px, solid, #fff;
    text-shadow: 0 0 10px #49495A;
}

.margin{
    margin: 4vw;
}
.nav-area{
    z-index: -1;
    position: relative;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;    
    width: 100%;
    height: 100%;
    padding:48px 4vw;
    flex-direction: column;
    -webkit-box-pack: justify;
}


/* 그리드 */
.notWork-grid{
	overflow: hidden;
    display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	-webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
	background-color: hsla(240, 17%, 15%, 1);
	padding: 0 4vw;
}
.grid-row{
	padding: 0 .5em;
}
.item-notWork img{ 
	margin: .5em;
	background-position: center;
	width: 100%;
	height: auto;
	cursor: pointer;
 }
 .item-notWork img:hover{
	filter: brightness(.7);
	transition: .3s;
 }
#fullImage{
	display: none;
	transition: .3s;
 }
.wide-img-page{
	position: fixed;
	z-index: 20;
	width: 100%;
	height: 100%;
}