/* project page */
.project-page{
    /* margin: 0px 20vw; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 64px;
}
.project-margin{
    margin: 0px 20vw;
}
.project-info{
    margin: 0px 20vw;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    gap: 16px;
}
.project-info-detail{
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
}
.info-gap{
    display: flex;
    flex-direction: column;
    gap:8px;
    flex: 1 1 auto;
}
.image-margin{
    background-size: cover;
    margin: 0px 10vw;
}
.image-align{
    justify-content: center;
}
.sub-title{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.sub-title-center{
    display: flex;
    flex-direction: column;
    justify-content: center;    
}
.sub-bg{
    padding: 64px 0;
    background-color: #EEEEF1;
}
.sub-title-flex{
    display: flex;
    flex-direction: row;
    gap: 36px;
}
.sub-title-flex.half{
    width: 50%;
}
/* 반응형 */
@media(max-width: 843px){
    .project-page{
        gap: 40px;
    }
    .project-margin{
        margin: 0 10vw;
    }
    .project-info{
        margin: 0 10vw;
        gap: 12px;
    }
    .image-margin{
        margin: 0 5vw;
    }
    .sub-title{
        gap: 10px;
    }
    .sub-bg{
        padding: 40px 0;
    }
    .sub-title-flex{
        gap: 24px;
    }
}
@media(max-width: 390px){
    .sub-title-flex{
        flex-wrap: wrap;
    }
    .sub-title-flex.half{
    width: 100%;
}
}
    
