/* Basic Setting */
html {
    scroll-behavior: smooth;
    overflow: scroll;
  }
body{
    background-color: #F8F8FB;
    margin: 0px;
    font-family: 'Finlandica', sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow-y: auto;
    overflow-x: hidden;
    transition: background-color 0.3s ease;
}
strong{
    font-weight: 600;
}
img {
    background-size: cover;
	width: 100%;
	height: auto;
  }
article{
    opacity: 0;
    transition: all .5s;
}
/* Background */
.bg-black{
    background-color: hsla(240, 17%, 15%, 1);
    overflow: hidden;
}
/* Text */
.bold{
    font-weight: 600;
}
.main{
    font-family: 'Finlandica', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 130px;
    line-height: 100%;
    transition: .3s;
    z-index: 1;
}
.title{
    font-family: 'Finlandica', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height:40px;
}
.title.main-project{
    line-height: 150%;
}
.body1{
    font-family: 'pretendard';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 160%;
    transition: .3s;
    }   
.title.project{
    margin-top: 16vh;
    text-align: -webkit-center;
    }
.title.otherProject{
    margin: 114px 0 40px 0;
    text-align: -webkit-center;
}
.body2{
    font-family: 'pretendard';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    /* color: #20202D; */
}
.caption{
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px; 
}
.caption.bold{
    font-weight: 600;
}
.gray200{
    color: #D6D6E3;
}
.gray400{
    color: #A7A6BB;
}
.gray900{
    color: #20202D;
}
.gray700{
    color: #49495A;
}
.white{
    color: #fff;
}
.main-color{
    color: #00AA50;
}
.link{
    color: #00AA50;
    text-decoration: none;
}
.h1{
    font-family: 'Finlandica', sans-serif;
    width: 600;
    font-size: 24px;
    line-height: 100%
}
.h2{
    font-family: 'Finlandica';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    white-space:nowrap;
    display : none;
}

/* 이 파일에서는 layout.css의 그리드에 들어가는 ui 요소들을 정의한다. */
/*Main Text*/
.main-page{
    display: flex;
    flex: 1 1 auto;
    padding: 5vw 0 10vw;
    flex-direction: column;
    justify-content: flex-start;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.main-text{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0px 16px;
    gap:32px;
    z-index: 1;
}
.sidebar-r img{
    width: auto;
    height: auto;
    transition: .3s;
}
.footer-icons img {
    width: auto;
    height: auto;
    transition: .3s;
}
.sidebar-r img:hover{
    transform: scale(110%);
    transform-origin: center;
}
.footer-icons img:hover{
    transform: scale(110%);
    transform-origin: center;
}
@media(max-width: 400px){
    .title{
        font-size: 32px;
        line-height:32px;
    }
    .body1{
        font-size: 16px;
    }   
    /* Social network's buttons */
    .sidebar-r { 
        position: absolute;
        left: 50%;
        bottom: 4vw;
        height: 48px;
        border-radius: 24px;
        transform: translate(-50%, 0);
        z-index: 1;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 64px;
        transition: .4s;
    }
    /* down to protpolio list */
    .down{
        max-height: 64px;
        min-height: 32px;
        max-width: 64px;
        min-width: 32px;
        position: absolute;
        left: 50%;
        right: 50%;
        bottom: 4vh;
        transform:translate(-50%,0%);
        z-index: 1;
        opacity: 0;
        transition: .4s;
    }
}
@media(min-width: 400px) and (max-width: 843px){
    .body1{
        font-size: 20px;
    }  
}
@media(min-width: 1300px){
    .main{
        font-size: 140px;
    }
}
@media(min-width: 1100px) and (max-width: 1300px){
    .main{
        font-size: 120px;
    }
}
@media(min-width: 843px) and (max-width: 1100px){
    .main{
        font-size: 103px;
    }
}
@media(min-width: 700px) and (max-width: 843px){
    .main{
        font-size: 91px;
    }
}
@media(min-width: 520px) and (max-width: 700px){
    .main{
        font-size: 58px;
    }
}
@media(max-width: 520px){
    .main{
        font-size: 44px;
    }
}
@media(min-width: 400px){
    .main-text{
        margin: 0px 20vw;
    }
    /* Social network's buttons */
    .sidebar-r { 
        position: absolute;
        right: 4vw;
        z-index: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 48px;
        height: 100vh;
        transition: .4s;
    }
    /* down to protpolio list */
    .down{
        max-height: 64px;
        min-height: 32px;
        max-width: 64px;
        min-width: 32px;
        position: absolute;
        left: 50%;
        right: 50%;
        bottom: 4vh;
        transform:translate(-50%,0%);
        z-index: 1;
        opacity: 1;
        transition: .4s;
    }
}

.card-list{
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: flex-start;
    width: 100vw;
}
/* full screen image */
.card-item{
    background-size: cover;
    background-position: center;
    height: 100vh;
    overflow-x: hidden;
    color: inherit;
}
.card-item:nth-child(1){
    background-image: url('/img/img_thum_1.webp');
}
.card-item:nth-child(2){
    background-image: url('/img/img_thum_2.webp');
}
.card-item:nth-child(3){
    background-image: url('/img/img_thum_3.webp');
}
/* 카드 1/2 */
/* .card-half{
    overflow-x: hidden;
    color: inherit;
    display: flex;
    flex-direction: row;
}
.card-half a:nth-child(1){
    background-image: url('/img/img_temp3.png');
}
.card-half a:nth-child(2){
    background-image: url('/img/img_temp4.png');
} */

@media(max-width: 834px){
	.card-half{
        flex-wrap: wrap;
	}
	.card-triple{
	flex-wrap: wrap;
    height: 90vh;
	}
}
@media(max-width: 390px){
	.card-item{
        flex-wrap: wrap;
        height: 50vh;
	}
}

/* 카드 1/3 */
.card-item-project{
    background-size: cover;
    background-position: center;
    overflow: hidden;
    color: inherit;
    flex: 1 1 auto;
}
.card-triple{
    overflow: hidden;
    color: inherit;
    display: flex;
    flex-direction: row;
    height: 60vh;
    width: 100%;
}
.card-img {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 5vw;
  }  
.card-img:hover{
    background-size: cover;
    background-color: hsla(240, 17%, 15%, .5);
    z-index: 1;
    transition: .3s;
}
/* card text setting */
.card-title {
    display: flex;
    flex-direction: column;
    gap: 12px;
    text-align: center;
    margin: auto 0 auto;
    color: #fff;
    text-shadow: 0 0 10px #20202D;
    transition: .3s;
    opacity: 0;
  }
  
  .card-title .h1 {
    width: 100%;
    display: inline-block;
    margin-bottom: 16px;
    font-size: 24px;
    font-weight: bold;
  }
  
  .card-title .body2 {
    width: 100%;
    display: inline-block;
    font-size: 18px;
  }
.card-info{
    /* display: none; */
    width: 100%; 
    justify-content:end;
    text-align: left;
    color: #fff;
    text-shadow: 0 0 10px #20202D;
    transition: .3s;
    opacity: 0;
}
/* footer */
.footer{
    display: flex;
    flex-direction: column;
    align-items: right;
    padding: 8vw 4vw 4vw;
    gap: 16px;
}
.footer.d{
    background-color: hsla(240, 17%, 15%, 1);
}
.footer-icons { 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    gap: 3vw;
}
.footer-stretch{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.border{
    width: 100%;
    height: .75px;
    background-color: #C0C0CE;
}
.border-d{
    width: 100%;
    height: .75px;
    background-color: #49495A;
}

#lockedContent {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1000;
    overflow: hidden;
    background: #D6D6E3;
  }

#unlockedContent {
    display: none;
}
.password{
    width: 360px;
    height: 54px;
    background: #F8F8FB;
    border: 1px #EEEEF1;
    display: flex;
    position: absolute;
    gap: 16px;
    align-items: center;
    flex-direction: row;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.ic-32px{
    width: 32px;
    height: 32px;
    margin: 12px 0 12px 12px;
}
#passwordInput{
    width: 100%;
    height: auto;
    border: none;
    padding: 12px 0;
    background: none;
    outline-style: none;  /* 포커스시 발생하는 효과 제거를 원한다면 */
    -webkit-appearance: none;  /* 브라우저별 기본 스타일링 제거 */
    -moz-appearance: none;
    appearance: none;
}
input::placeholder{
    color: #A7A6BB;
}
.btn-enter{
    width: auto;
    height: 100%;
    padding: 12px;
    border: none;
    background: #49495A;
    cursor: pointer;
    margin: 0;
}
button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

.back-position{
    position: absolute;
    left: 4vw;
    top: 4vw;
}
.btn_behance{
    width: 32px;
    height: 32px;
    background-image: url('/img/btn_main_behance_light.svg');
}
.btn_linkedin{
    width: 32px;
    height: 32px;
    background-image: url('/img/btn_main_linkedin_light.svg');
}
.btn_blog{
    width: 32px;
    height: 32px;
    background-image: url('/img/btn_main_blog_light.svg');
}
.btn_behance:hover{
    transition: .3s;
    transform: scale(108%);
}
.btn_linkedin:hover{
    transition: .3s;
    transform: scale(108%);
}
.btn_blog:hover{
    transition: .3s;
    transform: scale(108%);
}