/* Basic Setting */
html {
    /* scroll-behavior: smooth; */
    overflow: scroll;
  }
body{
    background-color: #EEEEF1;
    margin: 0px;
    /* font-family: 'Inconsolata', monospace; */
    /* font-family: "bio-sans", sans-serif; */
    font-family: "mortise", serif;
    font-weight: 200;
    font-style: normal;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    -ms-overflow-style: none;
    overflow-y: auto;
    overflow-x: hidden;
    transition: background-color 0.3s ease;
}
body::-webkit-scrollbar {
    width: 12px;  
	background: rgba(125, 125, 144, 0.1);
}
body::-webkit-scrollbar:horizontal {
    display: none;
}
body::-webkit-scrollbar-thumb {
	background: rgba(125, 125, 144, 0.4);
    border-radius: 10px;
}
body::-webkit-scrollbar-thumb:hover {
	background: rgba(125, 125, 144, 0.7);
}


strong{
    font-weight: 700;
}
img {
    background-size: cover;
	width: 100%;
	height: auto;
  }
article{
    opacity: 0;
    transition: all .5s;
}
/* Background */
.bg-black{
    background-color: hsla(240, 17%, 15%, 1);
    overflow: hidden;
}
/* Text */
.bold{
    font-family: "arboria", sans-serif;
    font-weight: 500;
    font-size: 36px;
    line-height: 140%;
}
.main{
    /* font-family: 'pretendard'; */
    font-family: "arboria", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 130px;
    line-height: 100%;
    transition: .3s;
    z-index: 1;
}
.main.light{
    font-style: italic;
    font-weight: 300;
}
.title{
    font-family: "arboria", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height:40px;
}
.title.main-project{
    line-height: 150%;
}
.body1{
    font-size: 24px;
    line-height: 180%;
    transition: .3s;
    }   
.title.project{
    margin-top: 16vh;
    text-align: -webkit-center;
    }
.title.otherProject{
    margin: 114px 0 40px 0;
    text-align: -webkit-center;
}
.body2{
    font-size: 17px;
    line-height: 160%;
    color: #F8F8FB;
}
.caption{
    font-size: 18px;
    line-height: 150%;
    color: #F8F8FB;
}
/* color */
.gray100{
    color: #F8F8FB;
}
.gray200{
    color: #D6D6E3;
}
.gray400{
    color: #A7A6BB;
}
.gray500{
    color: #7D7D90;
}
.gray700{
    color: #49495A;
}
.gray900{
    color: #20202D;
}
.white{
    color: #F8F8FB;
}
.main-color{
    color: #E73C50;
}
.link{
    color: #E73C50;
    text-decoration: none;
}
.h1{
    /* font-family: 'Inconsolata', monospace; */
    font-size: 24px;
    line-height: 100%
}
.h2{
    /* font-family: 'Inconsolata', monospace; */
    font-size: 16px;
    line-height: 150%;
    white-space:nowrap;
    display : none;
}

/* 이 파일에서는 layout.css의 그리드에 들어가는 ui 요소들을 정의한다. */
/*Main Text*/
.main-page{
    display: flex;
    flex: 1 1 auto;
    padding: 5vw 0 10vw;
    flex-direction: column;
    justify-content: flex-start;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.main-text{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0px 16px;
    gap:48px;
    z-index: 1;
}
.sidebar-r img{
    width: auto;
    height: auto;
    transition: .3s;
}
.footer-icons img {
    width: auto;
    height: auto;
    transition: .3s;
}
.sidebar-r img:hover{
    transform: scale(110%);
    transform-origin: center;
}
.footer-icons img:hover{
    transform: scale(110%);
    transform-origin: center;
}
.down{
    background-image: url('/img/btn_scrolldown_light.svg');
    background-size: cover;
    height: 64px;
    width: 64px;
    position: absolute;
    left: 50%;
    right: 50%;
    bottom: 4vh;
    transform:translate(-50%,0%);
    z-index: 1;
    transition: .4s;
    cursor: pointer;
}
/* Common styles */
.title {
    font-size: 32px;
    line-height: 32px;
}

.body1 {
    font-size: 16px;
}

/* Social network's buttons */
.sidebar-r {
    position: absolute;
    display: flex;
    align-items: center;
    z-index: 1;
    transition: 0.4s;
}

/* down to portfolio list */
.down {
    opacity: 0;
    height: 64px;
    width: 64px;
}

.main-text {
    gap: 32px;
    margin: 0 10vw;
}

/* Media Queries */
@media (min-width: 400px) {
    .body1 {
        font-size: 20px;
    }
    .main-text {
        gap: 48px;
    }
    .sidebar-r {
        right: 3vw;
        flex-direction: column;
        justify-content: center;
        gap: 48px;
        height: 100vh;
    }
    .down {
        opacity: 1;
    }
}
@media (max-width: 1000px) {
    .main {
        font-size: 110px;
    }
}

@media (max-width: 843px) {
    .main {
        font-size: 91px;
    }
}

@media (max-width: 700px) {
    .main {
        font-size: 58px;
    }
}

@media (max-width: 400px) {
    .main {
        font-size: 44px;
    }

    .sidebar-r {
        left: 50%;
        bottom: 3vw;
        height: 48px;
        border-radius: 24px;
        transform: translate(-50%, 0);
        gap: 64px;
        flex-direction: row;
        transition: 0.4s;
    }

    .down {
        opacity: 0;
    }
}

.card-list{
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: flex-start;
    /* width: 100%; */
    margin: 0 3vw;
    gap: 3vw;
}
/* full screen image */
.card-item{
    background-size: cover;
    background-position: center;
    height: 100vh;
    overflow: hidden;
    color: inherit;
    display: flex;
    flex-direction: column;
}

.card-half{
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;
    color: inherit;
    display: flex;
    flex-direction: column;
}

/* 카드 1/2 */
.card-item-project{
    overflow: hidden;
    color: inherit;
    flex: 1 1 auto;
}
.card-img-half {
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    transition: .3s ease;
}  
.card-img-half:hover{
    filter: brightness(70%); 
}
.card-img {
    background-size: cover;
    background-position: center;
    height: 90%;
    width: 100%;
    transition: .3s ease;
    margin-top: 3vw;
  }

.card-img.first{
    background-image: url('/img/img_thum_1.webp');
}
.card-img.second{
    background-image: url('/img/img_thum_2.webp');
}
.card-img.third{
    background-image: url('/img/img_thum_3.webp');
}
.card-img:hover{
    filter: brightness(70%); 
}
/* card text setting */
.card-title {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    margin: 1.5vw 0;
}

/* footer */
.footer{
    display: flex;
    flex-direction: column;
    align-items: right;
    padding: 8vw 3vw 3vw;
    gap: 16px;
}
.footer.d{
    background-color: hsla(240, 17%, 15%, 1);
}
.footer-icons { 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    gap: 3vw;
}
.footer-stretch{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.border{
    width: 100%;
    height: .75px;
    background-color: #C0C0CE;
}
.border-d{
    width: 100%;
    height: .75px;
    background-color: #49495A;
}

#lockedContent {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1000;
    overflow: hidden;
    background: #D6D6E3;
  }

#unlockedContent {
    display: none;
}
.password{
    width: 360px;
    height: 54px;
    background: #F8F8FB;
    border: 1px #EEEEF1;
    display: flex;
    position: absolute;
    gap: 16px;
    align-items: center;
    flex-direction: row;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.ic-32px{
    width: 32px;
    height: 32px;
    margin: 12px 0 12px 12px;
}
#passwordInput{
    width: 100%;
    height: auto;
    border: none;
    padding: 12px 0;
    background: none;
    outline-style: none;  /* 포커스시 발생하는 효과 제거를 원한다면 */
    -webkit-appearance: none;  /* 브라우저별 기본 스타일링 제거 */
    -moz-appearance: none;
    appearance: none;
}
input::placeholder{
    color: #A7A6BB;
}
.btn-enter{
    width: auto;
    height: 100%;
    padding: 12px;
    border: none;
    background: #EEEEF1;
    cursor: pointer;
    margin: 0;
}
button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

.back-position{
    position: absolute;
    left: 3vw;
    top: 3vw;
}
.btn_behance{
    width: 32px;
    height: 32px;
    background-image: url('/img/btn_main_behance_light.svg');
}
.btn_behance.white{
    background-image: url('/img/btn_main_behance_dark.svg');
}
.btn_linkedin{
    width: 32px;
    height: 32px;
    background-image: url('/img/btn_main_linkedin_light.svg');
}
.btn_linkedin.white{
    background-image: url('/img/btn_main_linkedin_dark.svg');
}
.btn_blog{
    width: 32px;
    height: 32px;
    background-image: url('/img/btn_main_blog_light.svg');
}
.btn_blog.white{
    background-image: url('/img/btn_main_blog_dark.svg');
}
.btn_behance:hover{
    transition: .3s;
    transform: scale(108%);
}
.btn_linkedin:hover{
    transition: .3s;
    transform: scale(108%);
}
.btn_blog:hover{
    transition: .3s;
    transform: scale(108%);
}