/* 텍스트 */
.bold{
    font-weight: 600;
}
.title{
    font-family: 'Kanit';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height:40px;
}
.body1{
    font-family: 'pretendard';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 130%;
}
.body2{
    font-family: 'pretendard';
    font-style: normal;
    font-weight: '400';
    font-size: 18px;
    line-height: 130%;
}
.gray900{
    color: #20202D;
}
.gray700{
    color: #49495A;
}
.main-color{
    color: #00AA50;
}
.link{
    color: #00AA50;
    text-decoration: none;
}

/* H2 */
.menu-link{
    display: flex;
    flex: 1 1 auto;
    text-decoration: none;
    color: #20202D;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    font-weight: 400;
}

.menu-link.logo{
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
}
.menu-link:hover{
    color: #00AA50;
}

.img-switch{
    width: 40px;
    height: 40px;
}





.btn-group-horiz{
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;

    position: absolute;
    width: 32px;
    height: 160px;
    left: 1208px;
    top: 320px;

}


/* 메인 페이지 */
.main-bio{
    display: flex;
    justify-content: right;
    padding-right: 40px;
}

/* 내부 컨텐츠 컨테이너 */
.project-list-container{
    display: flex;
    overflow: hidden;
    min-height: auto;
    margin-top: 0;
    margin-bottom: 0;
    -webkit-box-pack: justify;
}
.projet-link{
    display: flex;
    margin-right: 0;
    margin-left: 0;
    background-image: none;
    align-items: stretch;
}
.projet-link :hover{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}
.projet-item{
    display: flex;
	flex-direction: column;
	margin-bottom: 0;
    height: 100vh;
}
.project-block{
    position: absolute;
    z-index: 1;
    margin-top: 20px;
    margin-left: 40px;
}
.project-title{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 0;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    /* or 121% */
    /* gray 700 */
    color: #0D0D37;
    text-transform: uppercase;
}
.project-body{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #0D0D37;
}
.coverPhoto{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #000;
}
.coverPhoto.koling{
    position: relative;
    background-image: url(/img/img_photograph_full.JPG);
    background-position: 50% 50%;
    background-size: cover;
}

.project-txt{
	padding: 1em;
    flex-direction: column;
    justify-content: left;

}
.prject-txt.up{
    justify-content: top;
}
.project-txt.down{
    justify-content: bottom;
}

/* 푸터 */
.footer-nation{
    font-family: 'Bree Serif', serif;
}