/* 텍스트 */
.bold{
    font-weight: 600;
}
.title{
    font-family: 'Kanit';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height:40px;
}
.title.project{
    margin-top: 16vh;
    text-align: -webkit-center;
}
.logo{
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
}
.body1{
    font-family: 'pretendard';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 130%;
}
.body2{
    font-family: 'pretendard';
    font-style: normal;
    font-weight: '400';
    font-size: 18px;
    line-height: 130%;
}
.caption{
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 400px;
    font-size: 14px;
    line-height: 18px; 
}
.gray900{
    color: #20202D;
}
.gray700{
    color: #49495A;
}
.white{
    color: #fff;
}
.main-color{
    color: #00AA50;
}
.link{
    color: #00AA50;
    text-decoration: none;
}

/* H2 */
.menu-link{
    display: flex;
    flex: 1 1 auto;
    text-decoration: none;
    color: #20202D;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    font-weight: 400;
}
.menu-link:hover{
    color: #00AA50;
}

.img-switch{
    width: 40px;
    height: 40px;
}