/* Grid */
.container-main{
	display: grid;
    width: 100vw;
	grid-template-columns: 90% 10%;
    grid-template-rows: repeat(auto-fill,minmax(100px, auto));
    place-items: start stretch;

    grid-template-areas: 
    'main r'
    'list1 list1'
	'footer footer';
}

/* grid 순서 */
.item:nth-child(1) { 
    grid-area: main;
 }
.item:nth-child(2) { 
    grid-area: r; 
}
.item:nth-child(3) { 
    grid-area: list1; 
}
.item:nth-child(4) { 
    grid-area: footer; 
}
.center{
	position:absolute;
	left: 50%;
	transform: translate(-50%, -100%);
	text-align: center;
	white-space:nowrap;
}

/* notWork */
.three-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto-fill,minmax(300px, 1fr));
	grid-gap: 1em;
    grid-template-areas: 
	'nw nw nw'
	'1 2 3'
	'4 5 6';
}
/* grid 순서 */

.item-notWork:nth-child(1) { 
    grid-area: nw;
 }
.item-notWork:nth-child(2) { 
    grid-area: 1; 
	width: 100%;
	height: auto;
}
.item-notWork:nth-child(3) { 
    grid-area: 2; 
	width: 100%;
  	height: auto;
}
.item-notWork:nth-child(4) { 
    grid-area: 3; 
	width: 100%;
  	height: auto;
}

/* aboutMe */
.container-aboutMe{
	display: grid;
    width: 100vw;
	grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(auto-fill,minmax(100px, auto));
    place-items: start stretch;

    grid-template-areas: 
    'main r'
    'list1 list1'
	'footer footer';
}

/* 
@media (min-width: 1024px) {
	.page {
		display: grid;
		grid-template-columns: 20% 1fr 20%;
		grid-template-areas:
			'logo  menu  menu  menu switch'
            '';
	}
	.logo {
		grid-area: logo;
	}
	.menu {
		grid-area: menu;
	}
    .img-switch{
        grid-area: switch;
    }
	.secondary-a {
		grid-area: secondary-a;
	}
	.primary {
		grid-area: primary;
	}
	.footer {
		grid-area: footer;
	}
}

@media (min-width: 1500px) {
	.secondary {
		width: 320px;
	}
} */
