img {
	width: 100%;
	height: auto;
  }
/* Grid */
.container-main{
	display: grid;
    width: 100vw;
	grid-template-columns: 90% 10%;
    grid-template-rows: repeat(auto-fill,minmax(100px, auto));
    place-items: start stretch;

    grid-template-areas: 
    'main r'
    'list1 list1'
	'footer footer';
}

/* grid 순서 */
.item:nth-child(1) { 
    grid-area: main;
 }
.item:nth-child(2) { 
    grid-area: r; 
}
.item:nth-child(3) { 
    grid-area: list1; 
}
.item:nth-child(4) { 
    grid-area: footer; 
}
.center{
	position:absolute;
	left: 50%;
	transform: translate(-50%, -100%);
	text-align: center;
	white-space:nowrap;
}

/* notWork */
.three-grid{
	overflow: hidden;
    display: grid;
	grid-template-columns: repeat(3, minmax(300px, 1fr));
	/* grid-gap: 1em; */
    grid-template-areas: 
	'nw nw nw'
	'p1 p2 p3'
	'p4 p5 p6';
}
/* grid 순서 */

.item-notWork:nth-child(1) { 
    grid-area: nw;
 }
.item-notWork:nth-child(2) { 
	grid-area: p1; 
	background-position: center;
	width: 100%;
	height: auto;
	padding: 0 0 1em 4vw;
}
.item-notWork:nth-child(3) { 
    grid-area: p2; 
	background-position: center;
	width: 100%;
	height: auto;
	padding: 0 1em 1em;
}
.item-notWork:nth-child(4) { 
    grid-area: p3; 
	background-position: center;
	width: 100%;
	height: auto;
	padding: 0 4vw 1em 0;
}
.item-notWork:nth-child(5) { 
	grid-area: p4; 
	background-position: center;
	width: 100%;
	height: auto;
	padding: 0 0 1em 4vw;
}
.item-notWork:nth-child(6) { 
    grid-area: p5; 
	background-position: center;
	width: 100%;
	height: auto;
	padding: 0 1em 1em;
}
.item-notWork:nth-child() { 
    grid-area: p6; 
	background-position: center;
	width: 100%;
	height: auto;
	padding: 0 4vw 1em 0;
}

/* aboutMe */
.container-aboutMe{
	display: grid;
   	width: 100vw;
 	grid-template-rows: repeat(auto-fill,minmax(100px, auto));
  	place-items: start stretch;

   	grid-template-areas: 
  	'aboutMe'
   	'skill'
	'experience';
	margin: 0 4vw 0;
}
.item-aboutMe:nth-child(1){
	grid-area: aboutMe;
	height: 90vh;
}
.item-aboutMe:nth-child(2){
	grid-area: skill;
}
.item-aboutMe:nth-child(3){
	grid-area: experience;
}

/* 
@media (min-width: 1024px) {
	.page {
		display: grid;
		grid-template-columns: 20% 1fr 20%;
		grid-template-areas:
			'logo  menu  menu  menu switch'
            '';
	}
	.logo {
		grid-area: logo;
	}
	.menu {
		grid-area: menu;
	}
    .img-switch{
        grid-area: switch;
    }
	.secondary-a {
		grid-area: secondary-a;
	}
	.primary {
		grid-area: primary;
	}
	.footer {
		grid-area: footer;
	}
}

@media (min-width: 1500px) {
	.secondary {
		width: 320px;
	}
} */
